<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <nav><a routerLink="/heroes">Heroes</a></nav>
  <router-outlet></router-outlet>
  <app-message></app-message>
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
      <!-- 当你使用 target='_blank' 打开一个新的标签页时，新页面的 window 对象上有一个属性 opener，它指向的是前一个页面的 window 对象，因此，后一个页面就获得了前一个页面的控制权，so 可怕！！ -->
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
</ul>

